@charset "UTF-8";

@mixin gls-background-image(
    $image-url: null,
    $filter-color: rgba(0,0,0,0.3), 
    $filter-opacity: null,
    $filter-type: solid,
    $filter-direction: top-left,
    $text-color: if($filter-color, invert(nth($filter-color, 1)), null)
){
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    color: $text-color;
    @if $image-url {
        background-image: url($image-url);
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @if $filter-type{
            @if $filter-type == "solid" {
                background: $filter-color;
                opacity: $filter-opacity;
            } @else if $filter-type == "gradient" {
                @include gls-linear-gradient($filter-direction, $filter-color);
                opacity: $filter-opacity;
            }
        }
    }
    & > *{
        position: relative;
        z-index: 1;
    }
}