@charset "UTF-8";

@mixin gls-background-stripes(
    $color: null,
    $thickness: 10px,
    $rotation: -45deg,
){
    $validate-unit: if(not index("deg", unit($rotation)), $rotation + deg, $rotation);
    @if not $color {
        $color: rgba(0,0,0,0.1);
        background-image: repeating-linear-gradient(
            $validate-unit,
            $color 0,
            $color $thickness,
            transparent $thickness,
            transparent $thickness * 2
        );
    } @else if length($color) == 1 {
        background-image: repeating-linear-gradient(
            $validate-unit,
            $color 0,
            $color $thickness,
            transparent $thickness,
            transparent $thickness * 2
        );
    } @else if length($color) > 1 {
        $first-color: nth($color, 1);
        $list: ();
        @for $i from 2 through length($color) {
            $remaining-colors: nth($color, $i);
            $style-rule: $remaining-colors ($thickness * $i) - $thickness, $remaining-colors $thickness * $i;
            $list: append($list, $style-rule, comma);
        }
        background-image: repeating-linear-gradient(
            $validate-unit,
            $first-color 0,
            $first-color $thickness,
            $list
        );
    }
}
