@charset "UTF-8";

@mixin gls-background-dots(
    $size: 1em,
    $gutter: $size * 5,
    $diagonal: true,
    $params...
){
    @if $diagonal == true {
        $color: nth($params, 1);
        background-image: 
            radial-gradient(nth($color, 1) $size, transparent 0),
            radial-gradient(nth($color, length($color)) $size, transparent 0);
        background-position: ($gutter / 2) ($gutter / 2), ($gutter * 2) ($gutter * 2);
    } @else if $diagonal == false {
        $color: nth($params, 1);
        background-image: radial-gradient(nth($color, 1) $size, transparent 0);
        background-position: ($gutter / 2) ($gutter / 2);
    } 
    background-size: $gutter $gutter;
    background-repeat: repeat;
}