// Gets every given device name from the $list-of-smartphones.
@function __getKey($list) {
    $new-list: ();
    @each $key in $list {
        $key: nth($key, 1);
        $new-list: append($new-list, $key, comma);
    }
  @return $new-list;
}