@mixin gls-background-stripes(
    $color: rgba(0,0,0,.1),
    $secondary-color: transparent,
    $thickness: 10px,
    $rotation: -45deg
){
    background: repeating-linear-gradient(
        if(not index("deg", unit($rotation)), $rotation + deg, $rotation),
        $color 0,
        $color __pixelify($thickness),
        $secondary-color __pixelify($thickness),
        $secondary-color __pixelify($thickness * 2),
    );  
}