@charset "UTF-8";

// Willbecommented!

// Willbefixed!

@mixin gls-border-box($value: null){
    @if not & {
        *, 
        *:before, 
        *:after{
            box-sizing: border-box;
        }
    } @else if $value == "all" {
        @at-root{
            *, 
            *:before, 
            *:after{
                box-sizing: border-box;
            }
        }
    } @else {
        &, 
        &:before, 
        &:after,
        *, 
        *:before, 
        *:after{
            box-sizing: border-box;
        }
    }
}
