@charset "UTF-8";

// Takes two arguments: "all" and "this"
// "all" applies the rules for all the HTML elements in the DOM.
// "this" applies the rules for one specific HTML element in the DOM and its children.
// IMPORTANT: It must be only used within sytle rules.
// Default is "null" and acts like "all"

@mixin gls-border-box($value: null){

  @if $value == null{
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }
  }

  @if $value == "all" {
    @at-root{
      *,
      *::before,
      *::after{
          box-sizing: border-box;
      }
    }
  }

  @if $value == "this" {
    &,
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }
  }

  @if $value != "all" and $value != "this" and $value != null {
    @error "Use one of the following arguments: (this) for one specific element and its' children and (all) for all the DOM elements!";
  }

}
