@charset "UTF-8";

@mixin gls-drop-shadow(
    $offset-x: 0,
    $offset-y: 2px,
    $blur: 6px,
    $spread: null,
    $color: black,
    $hover: true
){
    $color-string: str-slice(quote($color), 1, 4);
    transition: .3s;
    box-shadow: $offset-x $offset-y $blur $spread if(index("rgba", $color-string), $color, transparentize($color, .90));
    @if $hover == true {
        &:hover{
            box-shadow: $offset-x ($offset-y * 2) ($blur * 4) if($spread != null, $spread * 2, $spread) transparentize($color, .80);
        }
    }
}