@mixin gls-except($params...) {
    @if length($params) == 0 {
        @error '@Error Message';
    } @else if length($params) == 1 {
        $value: nth($params, 1);
        @if type-of($value) == "number" {
            &:not(:nth-of-type(#{$value})) {
                @content;
            }
        } @else if type-of($value) == "string" {
            @if $value == "odd" {
                &:not(:nth-of-type(odd)){
                    @content;
                }
            } @else if $value == "even" {
                &:not(:nth-of-type(even)){
                    @content;
                }
            } @else if $value == "first" {
                &:not(:first-of-type){
                    @content;
                }
            } @else if $value == "last" {
                &:not(:last-of-type){
                    @content;
                }
            } @else {
                &:not(#{$value}) {
                    @content;
                }
            }
        }
    } @else if length($params) > 1 {
        $items: "";
        @for $i from 1 through length($params) {
            $items: $items + unquote(":not(:nth-of-type(#{nth($params, $i)}))");
        }
        &#{$items} {
            @content;
        }
    }
  // Here will be an @error message if the argument is not either number or string!
}