@mixin gls-hidden($params...){
    @if length($params) == 0 {
        display: none;
    } @else if length($params) == 1 {
        $value: nth($params, 1);
        @include  gls-breakpoint-only($value){
            display: none;
        }
    } @else if length($params) == 2 {
        @if index("min" "max", nth($params, 1)){
            $direction: nth($params, 1);
            $value: nth($params, 2);
            @if $direction == "min" {
                @include  gls-breakpoint-min($value){
                    display: none;
                }
            } @else if $direction == "max" {
                @include  gls-breakpoint-max($value){
                    display: none;
                }
            }
        } @else {
            $start: nth($params, 1);
            $end: nth($params, 2);
            @include  gls-breakpoint-between($start, $end){
                display: none;
            }
        }
    } @else {
        @error "Please pass a valid argument! For more information check the following link: https://sketchize.com/";
    }
}