// display: none kullanılarak gizlenen bir etiket screen readerlar tarafından okunmaz. Bir HTML etiketini screen readerların da tarayabileceği bir şekilde düzenlemek için aşağıdaki mixin'i kullanabilirsiniz.

// Use this screen reader mixin to make some elements readable for the screen reader, which should be visually hidden in the document.

@mixin hide-visually{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}