@mixin only($params...){
    @if length($params) == 1 {
        $value: nth($params, 1);
        @if type-of($value) == "number" {
            &:nth-of-type(#{$value}){
                @content;
            }
        } @else if type-of($value) == "string" {
            @if $value == "odd" {
                &:nth-of-type(odd){
                    @content;
                }
            } @else if $value == "even" {
                &:nth-of-type(even){
                    @content;
                }
            } @else if $value == "first" {
                &:first-of-type{
                    @content;
                }
            } @else if $value == "last" {
                &:last-of-type{
                    @content;
                }
            } @else {
                &#{$value} {
                    @content;
                }
            }
        }
    } @else if length($params) > 1 {
        $list: ();
        @for $i from 1 through length($params){
            $list: append($list, unquote("&:nth-of-type(#{nth($params, $i)})"), comma);
        }
        #{$list}{
            @content;
        }
    }
    // Here will be an @error message if the argument is not either number or string!
}