@charset "UTF-8";

// Eski browserlar için opacity desteği sağlar. Gerek var mı? Henüz bilmiyorum.

@mixin gls-opacity($value){
    $treated-value: $value * 100;
    opacity: $value;
    -moz-opacity: $value; /* Less than Firefox 0.9 */
    -khtml-opacity: $value; /* Safari 1.x (This is the pre -webkit form */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$treated-value})"; /* IE7 Support */
    filter: alpha(opacity=$treated-value); /* IE8 and IE 9 Support */
}