// The name of the mixin might be change to Sizing or Sizer

// @mixin gls-rectangle($params...){
//     $sizeX: nth($params, 1);
//     $sizeY: nth($params, length($params));
//     $size: nth($params, length($params));
//     @if length($params) == 1 {
//         width: $size;
//         height: $size;
//     } @else {
//         width: $sizeX;
//         height: $sizeY;
//     }
// }


// Hugo Giraudel Vers.
@mixin gls-rectangle($width, $height: $width ){
    width: $width;
    height: $height;
}

