@mixin ripple-effect(
    $color1: white,
){
    position: relative;
    overflow: hidden;
    &:after{
        content: "";
        display: block;
        @include position(absolute, 0);
        @include rectangle(100%);
        pointer-events: none;
        background-image: radial-gradient(circle, $color1 10%, transparent 10%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .3s, opacity 1s;
    }
    &:active:after{
        transform: scale(0, 0);
        opacity: .2;
        transition: 0s;
    }
}

// This doesn't work with the input buttons due to they don't have ::after or ::before selector. But it can be used with wrapper.