@charset "UTF-8";

@mixin gls-sprite(
    $width: null,
    $height: $width,
    $image-url: null,
    $position: null,
){
    display: inline-block;
    width: $width;
    height: $height;
    background-position: nth($position, 1) nth($position, 2);
    background-image: url($image-url);
    background-repeat: no-repeat;
}