// Parent container of the link must have "position: relative;" decleration.

@mixin gls-stretched-link {
    &::after {
        content: "";
        position: absolute;
        pointer-events: auto;
        background-color: rgba(0,0,0,0);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}