@charset "UTF-8";

@mixin gls-text-selection(
    $background-color: null,
    $color: null
){
    &::selection,
    & *::selection{
        background-color: $background-color;
        color: $color;
    }
}   