// Radial Gradient will be added!

@mixin linear-gradient(
    $direction,
    $params...
){
    @if $direction == "top" {
        background: linear-gradient(to top, $params);
    } @else if $direction == "top-left" {
        background: linear-gradient(to top left, $params);
    } @else if $direction == "top-right" {
        background: linear-gradient(to top right, $params);
    } @else if $direction == "bottom" {
        background: linear-gradient(to bottom, $params);
    } @else if $direction == "bottom-left" {
        background: linear-gradient(to bottom left, $params);
    } @else if $direction == "bottom-right" {
        background: linear-gradient(to bottom right, $params);
    } @else if $direction == "left" {
        background: linear-gradient(to left, $params);
    } @else if $direction == "right" {
        background: linear-gradient(to right, $params);
    } @else{
        background: linear-gradient($direction, $params);
    }
}

@mixin radial-gradient(
    $shape: circle,
    $direction: null,
    $params...
){
    @if $direction == "top" {
        background: radial-gradient($shape at top, $params);
    } @else if $direction == "top-left" {
        background: radial-gradient($shape at top left, $params);
    } @else if $direction == "top-right" {
        background: radial-gradient($shape at top right, $params);
    } @else if $direction == "bottom" {
        background: radial-gradient($shape at bottom, $params);
    } @else if $direction == "bottom-left" {
        background: radial-gradient($shape at bottom left, $params);
    } @else if $direction == "bottom-right" {
        background: radial-gradient($shape at bottom right, $params);
    } @else if $direction == "left" {
        background: radial-gradient($shape at left, $params);
    } @else if $direction == "right" {
        background: radial-gradient($shape at right, $params);
    } @else if $direction == "center" {
        background: radial-gradient($shape at center, $params);
    } @else {
        @error "Please pass a velid value.";
    }
}