@mixin responsive-video($params...){
    position: relative;
    > *,
    > iframe,
    > embed, 
    > object{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    } @if length($params) == 0{
        padding-top: 56.25%;
    } @else if length($params) == 1 {

        $ratio: unquote(nth($params, 1));
        $ratio-index: str-index($ratio, ":");

        $width: unquote(str-slice($ratio, 1, $ratio-index - 1));
        $height: unquote(str-slice($ratio, $ratio-index + 1));
        
        $pixel-width: $width + "%";
        $pixel-height: $height + "%";

        padding-top: calc((#{$pixel-height} - #{$pixel-width}));

    }
}

















// @mixin responsive-video($params...){
//     position: relative;
//     > *,
//     > iframe,
//     > embed, 
//     > object{
//         position: absolute;
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         width: 100%;
//         height: 100%;
//     } @if length($params) == 0{
//         padding-top: 56.25%;
//     } @else if length($params) == 1 {
//         $ratio: nth($params, 1);
//         @if $ratio == "16:9" {
//             padding-top: 56.25%;
//         } @else if $ratio == "4:3" {
//             padding-top: 75%;
//         } @else if $ratio == "1:1" {
//             padding-top: 100%;
//         }
//     } @else if length($params) == 2 {
//         $width: nth($params, 1); 
//         $height: nth($params, 2);
//         $calc: ($height / $width) * 100;
//         padding-top: #{$calc + "%"};
//     }
// }