@charset "UTF-8";

@function __lighten($color, $percentage) {
  @if not __isColor($color) {
    @error "`#{$color}` is not a valid color for the `$color` argument in " +
           "the `tint` mixin.";
  } @else {
    @return mix(white, $color, $percentage);
  }
}