@charset "UTF-8";

@use "sass:list";

@function pseudoSelector($elements, $pseudo: null) {
  $list: ();
  @each $element in $elements {
    $element: if($pseudo, $element + ":" + $pseudo, $element);
    $list: list.append($list, $element, comma);
  }
  @return $list;
}
