
.gls-arrow-down:before { content: '\e800'; } /* '' */
.gls-arrow-left:before { content: '\e801'; } /* '' */
.gls-arrow-right:before { content: '\e802'; } /* '' */
.gls-arrow-up:before { content: '\e803'; } /* '' */
.gls-checkbox-off:before { content: '\e804'; } /* '' */
.gls-checkbox-on:before { content: '\e805'; } /* '' */
.gls-chevron-down:before { content: '\e806'; } /* '' */
.gls-chevron-left:before { content: '\e807'; } /* '' */
.gls-chevron-right:before { content: '\e808'; } /* '' */
.gls-chevron-up:before { content: '\e809'; } /* '' */
.gls-close-circle:before { content: '\e80a'; } /* '' */
.gls-close-rectangle:before { content: '\e80b'; } /* '' */
.gls-close:before { content: '\e80c'; } /* '' */
.gls-coffee-filled-circle:before { content: '\e80d'; } /* '' */
.gls-coffee-filled:before { content: '\e80e'; } /* '' */
.gls-coffee-outline-circle:before { content: '\e80f'; } /* '' */
.gls-coffee-outline:before { content: '\e810'; } /* '' */
.gls-dots:before { content: '\e811'; } /* '' */
.gls-empty-circle:before { content: '\e812'; } /* '' */
.gls-empty-rectangle:before { content: '\e813'; } /* '' */
.gls-face-error:before { content: '\e814'; } /* '' */
.gls-face-happy:before { content: '\e815'; } /* '' */
.gls-face-thinking:before { content: '\e816'; } /* '' */
.gls-face-ups:before { content: '\e817'; } /* '' */
.gls-facebook-circle:before { content: '\e818'; } /* '' */
.gls-facebook:before { content: '\e819'; } /* '' */
.gls-github-circle:before { content: '\e81a'; } /* '' */
.gls-github:before { content: '\e81b'; } /* '' */
.gls-hamburger:before { content: '\e81c'; } /* '' */
.gls-instagram-circle:before { content: '\e81d'; } /* '' */
.gls-instagram:before { content: '\e81e'; } /* '' */
.gls-linkedin-circle:before { content: '\e81f'; } /* '' */
.gls-linkedin-naked:before { content: '\e820'; } /* '' */
.gls-linkedin:before { content: '\e821'; } /* '' */
.gls-minus:before { content: '\e822'; } /* '' */
.gls-open-collective-circle:before { content: '\e823'; } /* '' */
.gls-open-collective:before { content: '\e824'; } /* '' */
.gls-patreon-circle:before { content: '\e825'; } /* '' */
.gls-patreon:before { content: '\e826'; } /* '' */
.gls-plus:before { content: '\e827'; } /* '' */
.gls-radio-btn-off:before { content: '\e828'; } /* '' */
.gls-radio-btn-on:before { content: '\e829'; } /* '' */
.gls-slack-circle:before { content: '\e82a'; } /* '' */
.gls-slack:before { content: '\e82b'; } /* '' */
.gls-twitter-circle:before { content: '\e82c'; } /* '' */
.gls-twitter:before { content: '\e82d'; } /* '' */
.gls-medium-circle:before { content: '\e82e'; } /* '' */
.gls-medium:before { content: '\e82f'; } /* '' */