@import "true";
@import "../../scss/library/loadify";

@include describe("loadify()") {
  @include it("Loadify mixin is running succesfully.") {
    @include assert {
      @include output {
        .element {
          @include loadify(0.2s);
        }
      }
      @include expect {
        .element {
          opacity: 0;
          animation-name: loadify;
          animation-fill-mode: forwards;
          animation-delay: 0.2s;
          animation-duration: 0.5s;
        }
      }
    }
  }
}
