@mixin border-radius($params...) {
  $corner: nth($params, 1);
  $value: nth($params, length($params));
  @if length($params) > 2 {
    @error "Direction";
  }
  @if length($params) == 1 {
    border-radius: $value;
  } @else {
    @if $corner !=
      null and not
      index(
        "top"
          "top-left"
          "top-right"
          "bottom"
          "bottom-left"
          "bottom-right"
          "left"
          "right",
        $corner
      )
    {
      @error "Corner value must be one of the followings: `top`, `top-left`, `top-right`, `bottom`, `bottom-left`, `bottom-right`, `left`, `right`.";
    } @else if $corner == "top" {
      border-top-left-radius: $value;
      border-top-right-radius: $value;
    } @else if $corner == "top-left" {
      border-top-left-radius: $value;
    } @else if $corner == "top-right" {
      border-top-right-radius: $value;
    } @else if $corner == "bottom" {
      border-bottom-left-radius: $value;
      border-bottom-right-radius: $value;
    } @else if $corner == "bottom-left" {
      border-bottom-left-radius: $value;
    } @else if $corner == "bottom-right" {
      border-bottom-right-radius: $value;
    } @else if $corner == "left" {
      border-top-left-radius: $value;
      border-bottom-left-radius: $value;
    } @else if $corner == "right" {
      border-top-right-radius: $value;
      border-bottom-right-radius: $value;
    }
  }
}
