@mixin drop-shadow(
    $offset-x: 0,
    $offset-y: 2px,
    $blur-radius: 6px,
    $color: black,
    $hover: true,
){
    transition: .3s;
    box-shadow: $offset-x $offset-y $blur-radius rgba($color, .10);
    @if $hover == true {
        &:hover{
            box-shadow: $offset-x ($offset-y * 2) ($blur-radius * 4) rgba($color, .15);
        }
    }
}

