// This code can be use to reset default browser styles for input boxes!
@mixin resetInput($backgroundColor: white, $textColor: green, $placeholderColor: blue) {
    background-color: $backgroundColor;
    color: $textColor;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $backgroundColor inset !important;
        -webkit-text-fill-color: $textColor !important;
    }
    &::-webkit-input-placeholder {
        color: $placeholderColor;
    }
    &::-moz-placeholder {
        color: $placeholderColor;
    }
    &:-ms-input-placeholder {
        color: $placeholderColor;
    }
    &:-moz-placeholder {
        color: $placeholderColor;
    }
}
