@mixin responsive-video($width, $height){
    $ratio: ($height / $width) * 100;
    position: relative;
    background-color: purple;
    padding-top: #{$ratio + "%"};
    iframe,
    embed, 
    object{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}