// Makes the parent element compatable for stretched link!
// It cannot be used when there are multiple links inside of a parrent element!
@mixin stretched-link {
    &::after {
        content: "";
        position: absolute;
        pointer-events: auto;
        background-color: rgba(0,0,0,0);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}