@mixin tooltip{
    position: relative;
    text-decoration: underline;
    input{
        display: none;
    }
    .tooltip-content{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(220,220,220);
        transform: translateY(calc(-100% - 8px));
        border-radius: 5px;
        padding: 10px;
    }
    input:checked ~ .tooltip-content{
        display: block;
    }
}