@charset "UTF-8";

@mixin adaptive($gutter: 30px) {
  $actual-breakpoints: map-remove($map-for-breakpoints, "xsmall");
  margin: 0 auto;
  @each $item, $value in $actual-breakpoints {
    @media (min-width: #{$value}) {
      max-width: calc(#{$value} - (#{$gutter} * 2));
    }
  }
}
