@charset "UTF-8";

@mixin border-radius($args...) {
  $list: join($list-of-directions, ("cross-left", "cross-right", "all"));
  @if length($args) == 1 {
    $value: nth($args, 1);
    border-radius: __null($value, space);
  } @else if length($args) == 2 {
    $corner: nth($args, 1);
    $value: nth($args, 2);
    @if index($list, $corner) {
      @if $corner == "top" {
        border-top-left-radius: $value;
        border-top-right-radius: $value;
      } @else if $corner == "top-right" {
        border-top-right-radius: $value;
      } @else if $corner == "right" {
        border-top-right-radius: $value;
        border-bottom-right-radius: $value;
      } @else if $corner == "bottom-right" {
        border-bottom-right-radius: $value;
      } @else if $corner == "bottom" {
        border-bottom-left-radius: $value;
        border-bottom-right-radius: $value;
      } @else if $corner == "bottom-left" {
        border-bottom-left-radius: $value;
      } @else if $corner == "left" {
        border-top-left-radius: $value;
        border-bottom-left-radius: $value;
      } @else if $corner == "top-left" {
        border-top-left-radius: $value;
      } @else if $corner == "all" {
        border-radius: $value;
      } @else if $corner == "cross-left" {
        border-top-left-radius: $value;
        border-bottom-right-radius: $value;
      } @else if $corner == "cross-right" {
        border-top-right-radius: $value;
        border-bottom-left-radius: $value;
      }
    } @else {
      @error "Corner value must be one of the followings: #{quote($list)}.";
    }
  } @else if length($args) == 4 {
    $args: __null($args, space, true);
    border-top-left-radius: nth($args, 1);
    border-top-right-radius: nth($args, 2);
    border-bottom-right-radius: nth($args, 3);
    border-bottom-left-radius: nth($args, 4);
  }
}
