@charset "UTF-8";

@use "sass:list";
@use "sass:map";
@use "../maps/map-for-breakpoints" as *;
@use "../utilities/validate-breakpoint" as *;

@mixin breakpoint($params...) {
  @if list.length($params) == 1 {
    $value: list.nth($params, 1);
    @if map.has-key($map-for-breakpoints, $value) {
      @media (width: map.get($map-for-breakpoints, $value)) {
        @content;
      }
    } @else {
      @media (width: $value) {
        @content;
      }
    }
  } @else if list.length($params) == 2 {
    @if not list.index("only" "min" "max" "between", list.nth($params, 1)) {
      $start: list.nth($params, 1);
      $end: list.nth($params, 2);
      @media (min-width: #{validateBreakpoint($start)}) and (max-width: #{if(map.has-key($map-for-breakpoints, $end), validateBreakpoint($end) - 1, $end)}) {
        @content;
      }
    } @else {
      $mode: list.nth($params, 1);
      $value: list.nth($params, 2);
      @if $mode == "only" {
        @if map.has-key($map-for-breakpoints, $value) {
          @media (width: map.get($map-for-breakpoints, $value)) {
            @content;
          }
        } @else {
          @media (width: $value) {
            @content;
          }
        }
      } @else if $mode == "min" {
        @if map.has-key($map-for-breakpoints, $value) {
          @media (min-width: map.get($map-for-breakpoints, $value)) {
            @content;
          }
        } @else {
          @media (min-width: $value) {
            @content;
          }
        }
      } @else if $mode == "max" {
        @if map.has-key($map-for-breakpoints, $value) {
          @media (max-width: map.get($map-for-breakpoints, $value)) {
            @content;
          }
        } @else {
          @media (max-width: $value) {
            @content;
          }
        }
      } @else if $mode == "between" {
        $start: list.nth($value, 1);
        $end: list.nth($value, 2);
        @media (min-width: #{validateBreakpoint($start)}) and (max-width: #{if(map.has-key($map-for-breakpoints, $end), validateBreakpoint($end) - 1, $end)}) {
          @content;
        }
      }
    }
  }
}
