@charset "UTF-8";

@use "sass:list";

@mixin center($axis: "both") {
  @if not list.index("both" "horizontal" "vertical", $axis) {
    @error "`#{$axis}` is not a valid $axis for `center`. Pass one of: both, horizontal, vertical.";
  }
  @if $axis == "both" or $axis == "vertical" {
    top: 50%;
  }
  @if $axis == "both" or $axis == "horizontal" {
    left: 50%;
  }
  transform: 
    if($axis == "horizontal", translateX(-50%), if($axis == "both", translateX(-50%), null))
    if($axis == "vertical", translateY(-50%), if($axis == "both", translateY(-50%), null))
  ;
}
