@charset "UTF-8";

@use "sass:list";
@use "../lists/list-of-counter-styles" as *;

@mixin counter($params...) {
  $counter: null;
  $counter-before: null;
  $counter-after: null;

  @if list.length($params) == 1 {
    @if list.index($list-of-counter-styles, list.nth($params, 1)) {
      $counter: list.nth($params, 1);
    } @else {
      $counter-after: list.nth($params, 1);
    }
  } @else if list.length($params) == 2 {
    @if list.index($list-of-counter-styles, list.nth($params, 1)) {
      $counter: list.nth($params, 1);
      $counter-after: list.nth($params, 2);
    } @else if list.index($list-of-counter-styles, list.nth($params, 2)) {
      $counter-before: list.nth($params, 1);
      $counter: list.nth($params, 2);
    } @else {
      $counter-before: list.nth($params, 1);
      $counter-after: list.nth($params, 2);
    }
  } @else if list.length($params) == 3 {
    @if list.index($list-of-counter-styles, list.nth($params, 2)) {
      $counter-before: list.nth($params, 1);
      $counter: list.nth($params, 2);
      $counter-after: list.nth($params, 3);
    }
  }

  &.counter-start {
    counter-reset: glsCounter;
  }
  &.counter-start .counter-item::before,
  &.counter-continue .counter-item::before {
    content: #{if($counter-before, '"' + $counter-before + '"' + " ", null)}counter(
        glsCounter#{if($counter, ", " + $counter, null)}
      )
      #{if($counter-after, " " + '"' + $counter-after + '"', null)};
    counter-increment: glsCounter;
    @content;
  }
}
