@charset "UTF-8";

@mixin gls-counter(
    $counter-style: decimal,
    $counter-style-before: null,
    $counter-style-after: null,
    $pseudo: "before"
) {
    @if $counter-style == null {
        $counter-style: decimal;
    }
    &.start{
        counter-reset: glsCounter;
    }
    &.start > *#{"::"+$pseudo},
    &.continue > *#{"::"+$pseudo} {
        content: "#{$counter-style-before}" counter(glsCounter, #{$counter-style}) "#{$counter-style-after}";
        counter-increment: glsCounter;
        @content;
    }
}
