@charset "UTF-8";

@mixin gls-sprite(
    $size: null,
    $position: null,
    $image: null,
){
    display: inline-block;
    width: nth($size, 1);
    height: if(length($size) == 1, $size, nth($size, 2));
    background-position: $position;
    @if $image {
        background-image: url($image);
    }
    background-repeat: no-repeat;
}