@charset "UTF-8";

@mixin text-stroke(
  $fallback-color: black,
  $color: transparent,
  $stroke-color: black,
  $stroke-width: 1px
) {
  color: $fallback-color;
  -webkit-text-fill-color: $color;
  -webkit-text-stroke-color: $stroke-color;
  -webkit-text-stroke-width: $stroke-width;
}
