@import "../../sussame/sussame";

// @import "../../../node_modules/bourbon/core/bourbon";
// @include reset-css;
@include normalize-css;
@include border-box;

body {
  font-family: sans-serif;
  background-color: rgb(250, 250, 240);
  padding: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-container {
  @include carousel($gutter: 20px, $hiddenScrollbar: true);
}

.thumb {
  width: 200px;
  height: 200px;
  background-color: rgb(200, 200, 200);
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  @include border-radius(all, 30px);
}

.rectangle {
  background-color: red;
  @include rectangle(200px);
  margin: __shorthandProperty(0);
}

.responsive-video {
  @include responsive-video("16:9");
}

.article-list {
  article {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    &.featured-article {
      padding: 30px;
      @include bg-image-with-solid-filter(
        $filter-color: black,
        $filter-opacity: 0.8,
        $image-url: "../images/portraits/01.jpg"
      );
    }
    h2{
      font-size: __fontSizer(20px, 2);
      margin: 0;
    }
  }
}

.breadcrumbs{
  @include breadcrumbs(
    $seperator-icon-size: 1em
  );
}

.example{
  background-color: red;
  @include hide-visually;
}

.ellipsis{
  @include ellipsis;
}

.before{
  @include before{
    content: "This is before mixin is running!";
    background-color: green;
  };
}

.after{
  @include after("This is after mixin is running! Try, it's easy!");
}

.linear-gradient{
  padding: 20px;
  @include linear-gradient(right, __darken(red, 20%), __lighten(orange, 40%) 25% 50%, green 50% 100%);
}

.radial-gradient{
  padding: 20px;
  @include radial-gradient(circle, center, teal, __darken(teal, 20%));
  color: white;
}

.border-radius{
  padding: 20px;
  background-color: rgb(220,220,220);
}

.placeholder{
  @include placeholder(purple);
}

.circle{
  @include circle(50px);
  @include linear-gradient(top-left, red, orange, yellow);
}

.badge{
  @include badge(
    $rounded: false,
    $border-radius: 500px
  );
}

.cutted-edge{
  background-color: orange;
  padding: 20px;
  @include cutted-edge(20, 0, 0, 0);
}

.text-gradient{
  display: inline-block;
  @include text-gradient(right, teal, purple);
}

.list-wrapper{
  list-style: none;
  li{
    padding: 10px;
    background-color: rgb(230,230,230);
    @include except-last{
      margin-bottom: 15px;
    }
  }
}

.except-first{
  li{
    position: relative;
    @include except-first{
      background-color: green;
      color: white,
    }
  }
}

.except-last{
  li{
    @include except-last{
      background-color: brown;
      color: white;
    }
  }
}

.except-this{
  li{
    @include except-this(".this"){
      background-color: pink;
      color: white;
    }
  }
}

.only-first{
  li{
    @include only-first{
      background-color: blue;
      color: white;
    }
  }
}
.only-last{
  li{
    @include only-last{
      background-color: purple;
      color: white;
    }
  }
}

.text-wrap-circular{
  @include text-wrap-circular(300px);
}

.text-selection{
  @include screen-resolution("1x"){
    @include text-selection(orange, white);
  }
  @include screen-resolution("2x"){
    @include text-selection(purple, yellow);
  }
  @include screen-resolution("3x"){
    @include text-selection(teal, white);
  }
}

.counter{
  @include counter;
}

.text-outline{
  @include text-outline;
}

.background-dots{
  padding: 20px;
  @include background-dots(
    $color:rgba(0,0,0,.3),
    $dot-size: 1px,
    $outer-size: 10px,
  );
}

.background-stripes{
  padding: 20px;
  @include background-stripes(
    $color: transparentize(red, 0.8),
    $thickness: 50px,
    $rotation: 45
  );
  background-color: orange;
}

.all-buttons{
  .buttons{
    display: flex;
  }

  @include all-buttons{
    background-color: #f00;
    color: white;
    border: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: .3s;
    &:not(:last-child){
      margin-right: 15px;
    }
  }

  @include all-buttons(hover){
    background-color: green;
    cursor: pointer;
    transform: translateY(-2px);
  }

  @include all-buttons(focus){
    background-color: purple;
  }

  @include all-buttons(active){
    background-color: blue;
  }

}

.all-text-inputs{
  @include all-text-inputs{
    background-color: blue;
    min-height: 50px;
    border: 2px solid black;
    margin-bottom: 15px;
    @include except-last{
      margin-right: 15px;
    }
  }

  @include all-text-inputs(hover){
    background-color: green;
    cursor: text;
  }

  @include all-text-inputs(active){
    background-color: pink;
  }

  @include all-text-inputs(focus){
    background-color: purple;
  }

  @include all-text-inputs(invalid){
    background-color: red;
  }

  @include all-text-inputs(disabled){
    background-color: gray;
  }

  @include all-text-inputs(required){
    background-color: yellow;
    border-color: red
  }

}

@include breakpointOnly(large){
  body{
    background-color: green;
  }
}

@include breakpointOnly(320px){
  body{
    background-color: green;
  }
}

@include breakpointMin(xlarge){
  body{
    background-color: purple;
  }
}

@include breakpointMin(220px){
  body{
    background-color: rgb(240,240,240);
  }
}

@include breakpointBetween(small, xlarge){}

@include breakpointBetween(320px, 500px){}

.position{
  background-color: crimson;
  @include rectangle(200px);
  @include position(relative, 0);
  @include drop-shadow(
    $blur: 20px,
    $color: rgba(0,0,0,.5)
  );
  @include border-radius(left, 20px);
  z-index: 200;
}

body{
  margin-top: __clearUnit(100px);
}

body{
  font-size: __pixelify(18);
  margin-bottom: __validateLength(250px);
}

.drop-shadow-wrapper{
  padding: 20px 0;
  display: flex;
  [class^="drop-shadow"]{
    @include border-radius(10px);
    @include rectangle(150px);
    background-color: white;
    margin-right: 30px;
    &:hover{
      cursor: pointer;
    }
  }
  .drop-shadow-01{
    @include drop-shadow;
  }
  .drop-shadow-02{
    @include drop-shadow;
  }
  .drop-shadow-03{
    @include drop-shadow;
  }
  .drop-shadow-04{
    @include drop-shadow;
  }
  .drop-shadow-05{
    @include drop-shadow;
  }
}

.buttons.ripple-effect{
  display: flex;
  .btn{
    height: 50px;
    background-color: rgb(140,140,140);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: white;
    &:not(last-child){
      margin-right: 20px;
    }
    &:hover{
      cursor: pointer;
    }
    &.ripple{
      @include ripple-effect;
    }
  }
}

.logo-wrapper{
  margin-bottom: 40px;
}

.logo-kellum{
  @include brand-logo(
    $approach: "kellum",
    $image: "https://logos-download.com/wp-content/uploads/2016/06/FedEx_Express_logo.png"
  )
}

.logo-sussame{
  @include brand-logo(
    $width: 100px,
    $height: 60px,
    $image: "https://logos-download.com/wp-content/uploads/2016/06/FedEx_Express_logo.png"
  );
}

.reset-figure{
  width: 300px;
  @include reset-figure;
}

.reset-list{
  @include reset-list;
}

.resizable{
  padding: 20px;
  background-color: rgb(220,220,220);
  border: 2px solid rgb(140,140,140); 
  @include resizable;
}

.image-wrapper{
  width: 300px;
  background-color:green;
  .responsive-image{
    @include responsive-image;
  }
}

.first-letter{
  @include first-letter;
}

.first-line{
  @include first-line{
    display: block;
    background-color: green;
    color: white;
  }
}

body{
  @include opacity(1);
}

.text-shadow{
  position: relative;
  color: white;
  @include remify(70px);
  @include text-shadow(
    $direction: left,
    $color: rgba(0,0,0,.02),
    $size: 50,
    $blur: 5
  );
  &:after{
    content: attr(data-content);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    @include text-shadow(
      $direction: right,
      $color: rgba(0,0,0,.02),
      $size: 50,
      $blur: 5
    );
  }
}

.whiten{
  padding: 20px;
  color: white;
  background-color: purple;
  &:hover{
    background-color: __lighten(purple, 20%);
  }
}

.darken{
  padding: 20px;
  color: white;
  background-color: orange;
  &:hover{
    background-color: __darken(orange, 20%);
  }
}


.container{
  h1{
    color: blue;
    @include escape-to-parent(".desktop"){
      color: red;
    }
    @include escape-to-parent(".mobile"){
      color: pink
    }
    @at-root .tablet &{
      color: teal
    }
  }
}

.hidden{
  display: flex;
  padding: 20px;
  background-color: pink;
  @include hidden(320px);
  @include hidden(min, large);
  @include hidden(max, medium);
  @include hidden(small, medium);
  @include hidden(medium, 1300px);
}
.sprite{
  display: flex;
  .sprite-image{
    margin-right: 20px;
    flex-shrink: 0;
    @include sprite(
      $width: 180px,
      $height: 140px,
      $image-url: "../images/bird-sprite.jpg",
      $position: 0px -78px,
    );
    @include escape-to-root(".desktop"){
      background-color: blue;
    }
  }
}




