@import '../../sussame/sussame';

body{
    background-color: rgb(250,250,240);
    padding: 50px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@include border-box;

.carousel-container{
    @include carousel(
        $gutter: 20px,
        $hiddenScrollbar: true
    );
}

.thumb{
    width: 200px;
    height: 200px;
    background-color: rgb(200,200,200);
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content: center;
    @include border-radius(
        $corner: null,
        $value: 50px
    );
}

.article-list{
    article{
        position: relative;
        &:not(:last-child){
            margin-bottom: 50px;
        }
        &:not(.featured-article){
            &:after{
                content: "";
                position: absolute;
                right: -20px;
                top: 0;
                @include triangle(
                    $direction: "down",
                    $width: 10px,
                    $height: 10px,
                    $color: brown
                );
            }
        }
        &.featured-article{
            padding: 30px;
            @include bg-image-with-solid-filter(
                $filter-color: purple,
                $filter-opacity: .8,
                $image-url: "../images/portraits/01.jpg"
            );
        }
    }
}

