@charset "UTF-8";
/*
   _____                                    
  / ____|                                   
 | (___  _   _ ___ ___  __ _ _ __ ___   ___ 
  \___ \| | | / __/ __|/ _` | '_ ` _ \ / _ \
  ____) | |_| \__ \__ \ (_| | | | | | |  __/
 |_____/ \__,_|___/___/\__,_|_| |_| |_|\___|
                                            
                    created by Halil İbrahim Çakıroğlu
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fafaf0;
  padding: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel-container {
  overflow: hidden;
}

.carousel-container .carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-bottom: 30px;
  margin-bottom: -15px;
}

.carousel-container .carousel-wrapper .carousel-item:not(:last-child) {
  margin-right: 20px;
}

.thumb {
  width: 200px;
  height: 200px;
  background-color: #c8c8c8;
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 30px;
}

.rectangle {
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 0;
}

.responsive-video {
  position: relative;
  padding-top: 56.25%;
}

.responsive-video > *,
.responsive-video > iframe,
.responsive-video > embed,
.responsive-video > object {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.article-list article {
  position: relative;
}

.article-list article:not(:last-child) {
  margin-bottom: 50px;
}

.article-list article.featured-article {
  padding: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  background-image: url("../images/portraits/01.jpg");
}

.article-list article.featured-article > * {
  position: relative;
  z-index: 1;
}

.article-list article.featured-article:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.article-list article h2 {
  font-size: 40px;
  margin: 0;
}

.breadcrumbs ul, .breadcrumbs ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs ul li, .breadcrumbs ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.breadcrumbs ul li:not(:last-child):after, .breadcrumbs ol li:not(:last-child):after {
  content: "/";
  font-size: 1em;
  margin: 0 .5em;
}

.example {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.ellipsis {
  display: inline-block;
  max-width: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.before::before {
  content: "This is before mixin is running!";
  background-color: green;
}

.after::after {
  content: "This is after mixin is running! Try, it's easy!";
}

.gradient {
  padding: 20px;
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(25%, orange), color-stop(50%, green));
  background: -webkit-linear-gradient(left, red, orange 25% 50%, green 50% 100%);
  background: -o-linear-gradient(left, red, orange 25% 50%, green 50% 100%);
  background: linear-gradient(to right, red, orange 25% 50%, green 50% 100%);
  border-radius: 30px;
}

.border-radius {
  padding: 20px;
  background-color: gainsboro;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.placeholder ::-webkit-input-placeholder {
  color: purple;
}

.placeholder ::-moz-placeholder {
  color: purple;
}

.placeholder :-ms-input-placeholder {
  color: purple;
}

.placeholder :-moz-placeholder {
  color: purple;
}

.placeholder ::-ms-input-placeholder {
  color: purple;
}

.placeholder ::placeholder {
  color: purple;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: -webkit-gradient(linear, right bottom, left top, from(red), color-stop(orange), to(yellow));
  background: -webkit-linear-gradient(bottom right, red, orange, yellow);
  background: -o-linear-gradient(bottom right, red, orange, yellow);
  background: linear-gradient(to top left, red, orange, yellow);
}

.badge {
  display: inline-block;
  background-color: gainsboro;
  font-size: 1em;
  color: inherit;
  padding: 5px 10px;
}

.cutted-edge {
  background-color: orange;
  padding: 20px;
  -webkit-clip-path: polygon(0 20px, 20px 0, -webkit-calc(100% - 0px) 0, 100% 0px, 100% -webkit-calc(100% - 0px), -webkit-calc(100% - 0px) 100%, 0px 100%, 0 -webkit-calc(100% - 0px));
  clip-path: polygon(0 20px, 20px 0, calc(100% - 0px) 0, 100% 0px, 100% calc(100% - 0px), calc(100% - 0px) 100%, 0px 100%, 0 calc(100% - 0px));
}

.text-gradient {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(teal), to(purple));
  background: -webkit-linear-gradient(left, teal, purple);
  background: -o-linear-gradient(left, teal, purple);
  background: linear-gradient(to right, teal, purple);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.list-wrapper {
  list-style: none;
}

.list-wrapper li {
  padding: 10px;
  background-color: #e6e6e6;
}

.list-wrapper li:not(:last-of-type) {
  margin-bottom: 15px;
}

.except-first li {
  position: relative;
}

.except-first li:not(:first-of-type) {
  background-color: green;
  color: white;
}

.except-last li:not(:last-of-type) {
  background-color: brown;
  color: white;
}

.except-this li:not(.this) {
  background-color: pink;
  color: white;
}

.only-first li:first-of-type {
  background-color: blue;
  color: white;
}

.only-last li:last-of-type {
  background-color: purple;
  color: white;
}

.text-wrap-circular {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  float: left;
  shape-outside: circle(50%);
}

.text-wrap-circular img {
  position: relative;
  width: -webkit-calc(300px - 20px);
  width: calc(300px - 20px);
  vertical-align: top;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -8px;
}

@media (-webkit-min-device-pixel-ratio: 1), (-o-min-device-pixel-ratio: 1/1), (min-resolution: 96dpi) {
  .text-selection::-moz-selection,
  .text-selection *::-moz-selection {
    background-color: orange;
    color: white;
  }
  .text-selection::selection,
  .text-selection *::selection {
    background-color: orange;
    color: white;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .text-selection::-moz-selection,
  .text-selection *::-moz-selection {
    background-color: purple;
    color: yellow;
  }
  .text-selection::selection,
  .text-selection *::selection {
    background-color: purple;
    color: yellow;
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (-o-min-device-pixel-ratio: 3/1), (min-resolution: 288dpi) {
  .text-selection::-moz-selection,
  .text-selection *::-moz-selection {
    background-color: teal;
    color: white;
  }
  .text-selection::selection,
  .text-selection *::selection {
    background-color: teal;
    color: white;
  }
}

.counter {
  list-style-type: none;
  padding: 0;
}

.counter li {
  position: relative;
  padding-left: 30px;
}

.counter.start {
  counter-reset: myCounter;
}

.counter.start li::before,
.counter.continue li::before {
  position: absolute;
  left: 0;
  text-align: right;
  content: counter(myCounter) ". ";
  counter-increment: myCounter;
}

.text-outline {
  color: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 1px;
}

.background-dots {
  padding: 20px;
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0), -webkit-radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0);
  background-image: -o-radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0), -o-radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0);
  background-image: radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0), radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.background-stripes {
  padding: 20px;
  background: -webkit-repeating-linear-gradient(45deg, rgba(255, 0, 0, 0.2) 0, rgba(255, 0, 0, 0.2) 50px, transparent 50px, transparent 100px);
  background: -o-repeating-linear-gradient(45deg, rgba(255, 0, 0, 0.2) 0, rgba(255, 0, 0, 0.2) 50px, transparent 50px, transparent 100px);
  background: repeating-linear-gradient(45deg, rgba(255, 0, 0, 0.2) 0, rgba(255, 0, 0, 0.2) 50px, transparent 50px, transparent 100px);
  background-color: orange;
}

.all-buttons .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-buttons button, .all-buttons [type='button'], .all-buttons [type='reset'], .all-buttons [type='submit'] {
  background-color: #f00;
  color: white;
  border: 0;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.all-buttons button:not(:last-child), .all-buttons [type='button']:not(:last-child), .all-buttons [type='reset']:not(:last-child), .all-buttons [type='submit']:not(:last-child) {
  margin-right: 15px;
}

.all-buttons button:hover, .all-buttons [type='button']:hover, .all-buttons [type='reset']:hover, .all-buttons [type='submit']:hover {
  background-color: green;
  cursor: pointer;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.all-buttons button:focus, .all-buttons [type='button']:focus, .all-buttons [type='reset']:focus, .all-buttons [type='submit']:focus {
  background-color: purple;
}

.all-buttons button:active, .all-buttons [type='button']:active, .all-buttons [type='reset']:active, .all-buttons [type='submit']:active {
  background-color: blue;
}

.all-text-inputs [type='color'], .all-text-inputs [type='date'], .all-text-inputs [type='datetime'], .all-text-inputs [type='datetime-local'], .all-text-inputs [type='email'], .all-text-inputs [type='month'], .all-text-inputs [type='number'], .all-text-inputs [type='password'], .all-text-inputs [type='search'], .all-text-inputs [type='tel'], .all-text-inputs [type='text'], .all-text-inputs [type='time'], .all-text-inputs [type='url'], .all-text-inputs [type='week'], .all-text-inputs input:not([type]), .all-text-inputs textarea {
  background-color: blue;
  min-height: 50px;
  border: 2px solid black;
  margin-bottom: 15px;
}

.all-text-inputs [type='color']:not(:last-of-type), .all-text-inputs [type='date']:not(:last-of-type), .all-text-inputs [type='datetime']:not(:last-of-type), .all-text-inputs [type='datetime-local']:not(:last-of-type), .all-text-inputs [type='email']:not(:last-of-type), .all-text-inputs [type='month']:not(:last-of-type), .all-text-inputs [type='number']:not(:last-of-type), .all-text-inputs [type='password']:not(:last-of-type), .all-text-inputs [type='search']:not(:last-of-type), .all-text-inputs [type='tel']:not(:last-of-type), .all-text-inputs [type='text']:not(:last-of-type), .all-text-inputs [type='time']:not(:last-of-type), .all-text-inputs [type='url']:not(:last-of-type), .all-text-inputs [type='week']:not(:last-of-type), .all-text-inputs input:not([type]):not(:last-of-type), .all-text-inputs textarea:not(:last-of-type) {
  margin-right: 15px;
}

.all-text-inputs [type='color']:hover, .all-text-inputs [type='date']:hover, .all-text-inputs [type='datetime']:hover, .all-text-inputs [type='datetime-local']:hover, .all-text-inputs [type='email']:hover, .all-text-inputs [type='month']:hover, .all-text-inputs [type='number']:hover, .all-text-inputs [type='password']:hover, .all-text-inputs [type='search']:hover, .all-text-inputs [type='tel']:hover, .all-text-inputs [type='text']:hover, .all-text-inputs [type='time']:hover, .all-text-inputs [type='url']:hover, .all-text-inputs [type='week']:hover, .all-text-inputs input:not([type]):hover, .all-text-inputs textarea:hover {
  background-color: green;
  cursor: text;
}

.all-text-inputs [type='color']:active, .all-text-inputs [type='date']:active, .all-text-inputs [type='datetime']:active, .all-text-inputs [type='datetime-local']:active, .all-text-inputs [type='email']:active, .all-text-inputs [type='month']:active, .all-text-inputs [type='number']:active, .all-text-inputs [type='password']:active, .all-text-inputs [type='search']:active, .all-text-inputs [type='tel']:active, .all-text-inputs [type='text']:active, .all-text-inputs [type='time']:active, .all-text-inputs [type='url']:active, .all-text-inputs [type='week']:active, .all-text-inputs input:not([type]):active, .all-text-inputs textarea:active {
  background-color: pink;
}

.all-text-inputs [type='color']:focus, .all-text-inputs [type='date']:focus, .all-text-inputs [type='datetime']:focus, .all-text-inputs [type='datetime-local']:focus, .all-text-inputs [type='email']:focus, .all-text-inputs [type='month']:focus, .all-text-inputs [type='number']:focus, .all-text-inputs [type='password']:focus, .all-text-inputs [type='search']:focus, .all-text-inputs [type='tel']:focus, .all-text-inputs [type='text']:focus, .all-text-inputs [type='time']:focus, .all-text-inputs [type='url']:focus, .all-text-inputs [type='week']:focus, .all-text-inputs input:not([type]):focus, .all-text-inputs textarea:focus {
  background-color: purple;
}

.all-text-inputs [type='color']:invalid, .all-text-inputs [type='date']:invalid, .all-text-inputs [type='datetime']:invalid, .all-text-inputs [type='datetime-local']:invalid, .all-text-inputs [type='email']:invalid, .all-text-inputs [type='month']:invalid, .all-text-inputs [type='number']:invalid, .all-text-inputs [type='password']:invalid, .all-text-inputs [type='search']:invalid, .all-text-inputs [type='tel']:invalid, .all-text-inputs [type='text']:invalid, .all-text-inputs [type='time']:invalid, .all-text-inputs [type='url']:invalid, .all-text-inputs [type='week']:invalid, .all-text-inputs input:not([type]):invalid, .all-text-inputs textarea:invalid {
  background-color: red;
}

.all-text-inputs [type='color']:disabled, .all-text-inputs [type='date']:disabled, .all-text-inputs [type='datetime']:disabled, .all-text-inputs [type='datetime-local']:disabled, .all-text-inputs [type='email']:disabled, .all-text-inputs [type='month']:disabled, .all-text-inputs [type='number']:disabled, .all-text-inputs [type='password']:disabled, .all-text-inputs [type='search']:disabled, .all-text-inputs [type='tel']:disabled, .all-text-inputs [type='text']:disabled, .all-text-inputs [type='time']:disabled, .all-text-inputs [type='url']:disabled, .all-text-inputs [type='week']:disabled, .all-text-inputs input:not([type]):disabled, .all-text-inputs textarea:disabled {
  background-color: gray;
}

.all-text-inputs [type='color']:required, .all-text-inputs [type='date']:required, .all-text-inputs [type='datetime']:required, .all-text-inputs [type='datetime-local']:required, .all-text-inputs [type='email']:required, .all-text-inputs [type='month']:required, .all-text-inputs [type='number']:required, .all-text-inputs [type='password']:required, .all-text-inputs [type='search']:required, .all-text-inputs [type='tel']:required, .all-text-inputs [type='text']:required, .all-text-inputs [type='time']:required, .all-text-inputs [type='url']:required, .all-text-inputs [type='week']:required, .all-text-inputs input:not([type]):required, .all-text-inputs textarea:required {
  background-color: yellow;
  border-color: red;
}

@media (width: 992px) {
  body {
    background-color: green;
  }
}

@media (width: 320px) {
  body {
    background-color: green;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: purple;
  }
}

@media (min-width: 220px) {
  body {
    background-color: #f0f0f0;
  }
}

.position {
  background-color: crimson;
  width: 200px;
  height: 200px;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 200;
}

.position:hover {
  -webkit-box-shadow: 0 4px 80px rgba(0, 0, 0, 0);
  box-shadow: 0 4px 80px rgba(0, 0, 0, 0);
}

body {
  margin-top: 100;
}

body {
  font-size: 18px;
  margin-bottom: 250px;
}

.drop-shadow-wrapper {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-shadow-wrapper [class^="drop-shadow"] {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  background-color: white;
  margin-right: 30px;
}

.drop-shadow-wrapper [class^="drop-shadow"]:hover {
  cursor: pointer;
}

.drop-shadow-wrapper .drop-shadow-01 {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.drop-shadow-wrapper .drop-shadow-01:hover {
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.drop-shadow-wrapper .drop-shadow-02 {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.drop-shadow-wrapper .drop-shadow-02:hover {
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.drop-shadow-wrapper .drop-shadow-03 {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.drop-shadow-wrapper .drop-shadow-03:hover {
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.drop-shadow-wrapper .drop-shadow-04 {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.drop-shadow-wrapper .drop-shadow-04:hover {
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.drop-shadow-wrapper .drop-shadow-05 {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.drop-shadow-wrapper .drop-shadow-05:hover {
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.buttons.ripple-effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons.ripple-effect .btn {
  height: 50px;
  background-color: #8c8c8c;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: white;
}

.buttons.ripple-effect .btn:not(last-child) {
  margin-right: 20px;
}

.buttons.ripple-effect .btn:hover {
  cursor: pointer;
}

.buttons.ripple-effect .btn.ripple {
  position: relative;
  overflow: hidden;
}

.buttons.ripple-effect .btn.ripple:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: -webkit-radial-gradient(circle, white 10%, transparent 10%);
  background-image: -o-radial-gradient(circle, white 10%, transparent 10%);
  background-image: radial-gradient(circle, white 10%, transparent 10%);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: scale(10, 10);
  -ms-transform: scale(10, 10);
  transform: scale(10, 10);
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform .3s;
  transition: opacity 1s, -webkit-transform .3s;
  -o-transition: transform .3s, opacity 1s;
  transition: transform .3s, opacity 1s;
  transition: transform .3s, opacity 1s, -webkit-transform .3s;
}

.buttons.ripple-effect .btn.ripple:active:after {
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: .2;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.logo-wrapper {
  margin-bottom: 40px;
}

.logo-kellum {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 80px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  background-image: url("https://logos-download.com/wp-content/uploads/2016/06/FedEx_Express_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.logo-sussame {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 60px;
  background-image: url("https://logos-download.com/wp-content/uploads/2016/06/FedEx_Express_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.logo-sussame a {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: 100%;
}

.logo-sussame a::after {
  content: "";
  position: absolute;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.reset-figure {
  width: 300px;
  margin: 0;
}

.reset-figure img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.reset-list {
  padding: 0;
  list-style: none;
}

.resizable {
  padding: 20px;
  background-color: gainsboro;
  border: 2px solid #8c8c8c;
  resize: both;
  overflow: auto;
  max-width: 100%;
}

.image-wrapper {
  width: 300px;
  background-color: green;
}

.image-wrapper .responsive-image {
  display: block;
  width: 100%;
}

.first-letter::first-letter {
  float: left;
  font-size: 4em;
  line-height: 0.9em;
  padding-right: 0.1em;
  margin-bottom: -0.2em;
}

.first-line::first-line {
  display: block;
  background-color: green;
  color: white;
}

body {
  opacity: 1;
  -moz-opacity: 1;
  /* Less than Firefox 0.9 */
  -khtml-opacity: 1;
  /* Safari 1.x (This is the pre -webkit form */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE7 Support */
  filter: alpha(opacity=100);
  /* IE8 and IE 9 Support */
}

.text-shadow {
  position: relative;
  color: white;
  font-size: 4.375rem !important;
  text-shadow: -1px 0 5px rgba(0, 0, 0, 0.02), -2px 0 5px rgba(0, 0, 0, 0.02), -3px 0 5px rgba(0, 0, 0, 0.02), -4px 0 5px rgba(0, 0, 0, 0.02), -5px 0 5px rgba(0, 0, 0, 0.02), -6px 0 5px rgba(0, 0, 0, 0.02), -7px 0 5px rgba(0, 0, 0, 0.02), -8px 0 5px rgba(0, 0, 0, 0.02), -9px 0 5px rgba(0, 0, 0, 0.02), -10px 0 5px rgba(0, 0, 0, 0.02), -11px 0 5px rgba(0, 0, 0, 0.02), -12px 0 5px rgba(0, 0, 0, 0.02), -13px 0 5px rgba(0, 0, 0, 0.02), -14px 0 5px rgba(0, 0, 0, 0.02), -15px 0 5px rgba(0, 0, 0, 0.02), -16px 0 5px rgba(0, 0, 0, 0.02), -17px 0 5px rgba(0, 0, 0, 0.02), -18px 0 5px rgba(0, 0, 0, 0.02), -19px 0 5px rgba(0, 0, 0, 0.02), -20px 0 5px rgba(0, 0, 0, 0.02), -21px 0 5px rgba(0, 0, 0, 0.02), -22px 0 5px rgba(0, 0, 0, 0.02), -23px 0 5px rgba(0, 0, 0, 0.02), -24px 0 5px rgba(0, 0, 0, 0.02), -25px 0 5px rgba(0, 0, 0, 0.02), -26px 0 5px rgba(0, 0, 0, 0.02), -27px 0 5px rgba(0, 0, 0, 0.02), -28px 0 5px rgba(0, 0, 0, 0.02), -29px 0 5px rgba(0, 0, 0, 0.02), -30px 0 5px rgba(0, 0, 0, 0.02), -31px 0 5px rgba(0, 0, 0, 0.02), -32px 0 5px rgba(0, 0, 0, 0.02), -33px 0 5px rgba(0, 0, 0, 0.02), -34px 0 5px rgba(0, 0, 0, 0.02), -35px 0 5px rgba(0, 0, 0, 0.02), -36px 0 5px rgba(0, 0, 0, 0.02), -37px 0 5px rgba(0, 0, 0, 0.02), -38px 0 5px rgba(0, 0, 0, 0.02), -39px 0 5px rgba(0, 0, 0, 0.02), -40px 0 5px rgba(0, 0, 0, 0.02), -41px 0 5px rgba(0, 0, 0, 0.02), -42px 0 5px rgba(0, 0, 0, 0.02), -43px 0 5px rgba(0, 0, 0, 0.02), -44px 0 5px rgba(0, 0, 0, 0.02), -45px 0 5px rgba(0, 0, 0, 0.02), -46px 0 5px rgba(0, 0, 0, 0.02), -47px 0 5px rgba(0, 0, 0, 0.02), -48px 0 5px rgba(0, 0, 0, 0.02), -49px 0 5px rgba(0, 0, 0, 0.02), -50px 0 5px rgba(0, 0, 0, 0.02);
}

.text-shadow:after {
  content: attr(data-content);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  text-shadow: 1px 0 5px rgba(0, 0, 0, 0.02), 2px 0 5px rgba(0, 0, 0, 0.02), 3px 0 5px rgba(0, 0, 0, 0.02), 4px 0 5px rgba(0, 0, 0, 0.02), 5px 0 5px rgba(0, 0, 0, 0.02), 6px 0 5px rgba(0, 0, 0, 0.02), 7px 0 5px rgba(0, 0, 0, 0.02), 8px 0 5px rgba(0, 0, 0, 0.02), 9px 0 5px rgba(0, 0, 0, 0.02), 10px 0 5px rgba(0, 0, 0, 0.02), 11px 0 5px rgba(0, 0, 0, 0.02), 12px 0 5px rgba(0, 0, 0, 0.02), 13px 0 5px rgba(0, 0, 0, 0.02), 14px 0 5px rgba(0, 0, 0, 0.02), 15px 0 5px rgba(0, 0, 0, 0.02), 16px 0 5px rgba(0, 0, 0, 0.02), 17px 0 5px rgba(0, 0, 0, 0.02), 18px 0 5px rgba(0, 0, 0, 0.02), 19px 0 5px rgba(0, 0, 0, 0.02), 20px 0 5px rgba(0, 0, 0, 0.02), 21px 0 5px rgba(0, 0, 0, 0.02), 22px 0 5px rgba(0, 0, 0, 0.02), 23px 0 5px rgba(0, 0, 0, 0.02), 24px 0 5px rgba(0, 0, 0, 0.02), 25px 0 5px rgba(0, 0, 0, 0.02), 26px 0 5px rgba(0, 0, 0, 0.02), 27px 0 5px rgba(0, 0, 0, 0.02), 28px 0 5px rgba(0, 0, 0, 0.02), 29px 0 5px rgba(0, 0, 0, 0.02), 30px 0 5px rgba(0, 0, 0, 0.02), 31px 0 5px rgba(0, 0, 0, 0.02), 32px 0 5px rgba(0, 0, 0, 0.02), 33px 0 5px rgba(0, 0, 0, 0.02), 34px 0 5px rgba(0, 0, 0, 0.02), 35px 0 5px rgba(0, 0, 0, 0.02), 36px 0 5px rgba(0, 0, 0, 0.02), 37px 0 5px rgba(0, 0, 0, 0.02), 38px 0 5px rgba(0, 0, 0, 0.02), 39px 0 5px rgba(0, 0, 0, 0.02), 40px 0 5px rgba(0, 0, 0, 0.02), 41px 0 5px rgba(0, 0, 0, 0.02), 42px 0 5px rgba(0, 0, 0, 0.02), 43px 0 5px rgba(0, 0, 0, 0.02), 44px 0 5px rgba(0, 0, 0, 0.02), 45px 0 5px rgba(0, 0, 0, 0.02), 46px 0 5px rgba(0, 0, 0, 0.02), 47px 0 5px rgba(0, 0, 0, 0.02), 48px 0 5px rgba(0, 0, 0, 0.02), 49px 0 5px rgba(0, 0, 0, 0.02), 50px 0 5px rgba(0, 0, 0, 0.02);
}

.whiten {
  padding: 20px;
  color: white;
  background-color: purple;
}

.whiten:hover {
  background-color: #c080c0;
}

.darken {
  padding: 20px;
  color: white;
  background-color: orange;
}

.darken:hover {
  background-color: #cc8400;
}
