body {
  background-color: #fafaf0;
  padding: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel-container {
  overflow: hidden;
}

.carousel-container .carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-bottom: 30px;
  margin-bottom: -15px;
}

.carousel-container .carousel-wrapper .carousel-item:not(:last-child) {
  margin-right: 20px;
}

.thumb {
  width: 200px;
  height: 200px;
  background-color: #c8c8c8;
  font-size: 40px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 30px;
}

.rectangle {
  background-color: red;
  width: 120px;
  height: 120px;
}

.responsive-video {
  position: relative;
  background-color: purple;
  padding-top: 56.25%;
}

.responsive-video iframe,
.responsive-video embed,
.responsive-video object {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.article-list article {
  position: relative;
}

.article-list article:not(:last-child) {
  margin-bottom: 50px;
}

.article-list article:not(.featured-article):after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  border-style: solid;
  height: 0;
  width: 0;
  border-color: brown transparent transparent;
  border-width: 10px 5px 0;
}

.article-list article.featured-article {
  padding: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #7fff7f;
  background-image: url("../images/portraits/01.jpg");
}

.article-list article.featured-article > * {
  position: relative;
  z-index: 1;
}

.article-list article.featured-article:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: purple;
  opacity: 0.8;
}
