@charset "UTF-8";

@mixin gls-breadcrumbs(
        $seperator-icon: "/",
        $seperator-icon-size: null
    ){
    ul, ol{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            display: flex;
            align-items: center;
            position: relative;
            &:not(:last-child){
                &:after{
                    content: $seperator-icon;
                    font-size: $seperator-icon-size;
                    margin: 0 .5em;
                }
            }
        }
    }
}