@charset "UTF-8";

/// Purely CSS written carousel slider.
/// Just style your boxes and put them into the \<div> element with a `carousel-item` class name.

@mixin gls-carousel(
    $gutter: null,
    $itemWidth: null,
    $itemHeight: null,
    $hiddenScrollbar: true
    ){
    overflow: hidden;
    .carousel-wrapper{
        display: flex;
        flex-wrap: no-wrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        padding-bottom: 30px;
        @if $hiddenScrollbar == true{
            margin-bottom: -15px;
        } 
        @if $hiddenScrollbar == false {
            margin-bottom: 0;
        }
        .carousel-item{
            &:not(:last-child){
                @if $gutter == null{
                    margin-right: 15px;
                } 
                @if $gutter != null{
                    margin-right: $gutter;
                } 
            }
            @if($itemWidth != null){
                width: $itemWidth;
            }
            @if($itemHeight != null){
                height: $itemHeight;
            }
        }
    }


}